<%- include("partials/header.ejs")%>
<!-- --------------------------------------------- -->

<div class="px-4 py-5 my-5 text-center mb-3 pb-3">
    <h1 class="text-muted display-5 fw-bold"><%=locals.currentDate %></h1>
    <div class="col-lg-6 mx-auto border rounded sideColour">
        <% if(locals.newItems){ %>
            <% for(i=0;i<locals.newItems.length;i++){%>  
                <div class="lead text-md-start p-4 border-bottom"><input type="checkbox" class="cbox" autocomplete="off"> <label for="cbox"><%=locals.newItems[i]%></label></div>   
            <%}%>
        <% } %>
        <form action="/" method="POST" autocomplete="off" class="item sideColour">
                <input type="text" name="item" placeholder="New Item"class="form-control border-0" required>
                <button type="submit" class="rounded-circle m-1 ">+</button>
        </form>
    </div>
  </div>

<!---------------------------------------------------->

<%- include("partials/footer.ejs")%>
